<script src="https://giscus.app/client.js"
        data-repo="informatikumtalk/informatikumtalk.github.io"
        data-repo-id="R_kgDOKlH7Jg"
        data-category="Comments"
        data-category-id="DIC_kwDOKlH7Js4Cag_U"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>