<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p id="simpleUsage">
        {{ .Content | markdownify }}
        </p>
    </br>

        {{ if .Link }}
            <li><a href="{{ .Link }}">Join us / Tutorial / Links</a></li>
        {{ end }}

        {{ if .Info }}
            <li> {{ .Info | markdownify }} </li>
        {{ end }}


    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}

<script>
new TypeIt("#simpleUsage", {
    strings: "",
    speed: 50,
    waitUntilVisible: true,
}).go();
</script>